<section id="basket">
    <div class="row">
        <div class="col-12 box-center">
            <div class="basket-items">
                <h2>Your Basket</h2>
                <p>Items you have added to your basket are shown below. Adjust the quantities or remove items before continuing purchase.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="center">Price</th>
                            <th class="center">Quantity</th>
                            <th class="right">Cost</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="subTotal == 0">
                            <td colspan="3" class="fw-600">Your basket is empty</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr *ngFor="let product of products">
                            <td>{{product.name}}, {{product.size}}</td>
                            <td>
                                <div class="responsive-label">Price</div>
                                <div class="responsive-content center">£{{product.price}}</div>
                            </td>
                            <td>
                                <div class="responsive-label">Quantity</div>
                                <div class="responsive-content">
                                    <div class="quantity">
                                        <button class="btn-quantity" (click)="decrease(product.sku)">-</button>
                                            <input type="number" min="1" max="10" value="{{product.quantity}}" readonly>
                                        <button class="btn-quantity" (click)="increase(product.sku)">+</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="responsive-label">Cost</div>
                                <div class="responsive-content right">£{{(product.price * product.quantity).toFixed(2)}}</div>
                            </td>
                            <td class="center trash">
                                <div class="responsive-label">Remove</div>
                                <div class="responsive-content"><button (click)="removeProduct(product.sku)" class="trash-button"><img src="../../assets/img/trash.svg"></button></div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="responsive-td">
                                <div class="responsive-label font-light">Subtotal</div>
                                <div class="responsive-content">£{{subTotal}}</div>
                            </td>
                            <td class="normal-td">Subtotal</td>
                            <td class="normal-td"></td>
                            <td class="normal-td"></td>
                            <td class="normal-td right">£{{subTotal}}</td>
                        </tr>
                        <tr class="no-border">
                            <td class="responsive-td">
                                <div class="responsive-label font-light">VAT at 20%</div>
                                <div class="responsive-content">£{{vat}}</div>
                            </td>
                            <td class="normal-td">VAT at 20%</td>
                            <td class="normal-td"></td>
                            <td class="normal-td"></td>
                            <td class="normal-td right">£{{vat}}</td>
                        </tr>
                        <tr class="no-border">
                            <td class="responsive-td">
                                <div class="responsive-label">Total cost</div>
                                <div class="responsive-content fw-600">£{{totalCost}}</div>
                            </td>
                            <td class="fw-600 normal-td">Total cost</td>
                            <td class="normal-td"></td>
                            <td class="normal-td"></td>
                            <td class="fw-600 normal-td right">£{{totalCost}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="right"><button id="buyBtn" class="btn-blue" type="button" *ngIf="subTotal > 0">Buy Now</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>