/* CART */
#basket { padding-top: 112px; }
#basket p { margin-bottom: 50px; }
#basket .row { padding-top: 65px; padding-bottom: 65px; }
.basket-items { width: 60%; }
.quantity { border: 1px solid #448AFF; padding: 5px; width: 100px; border-radius: 5px; margin: 0 auto; text-align: center;}
.btn-quantity { border: 0; background-color: transparent; color: #448AFF; font-size: 16px; font-weight: 600; cursor: pointer;}
.trash-button {cursor: pointer; border: 0; background-color: transparent;}
input[type="number"] { text-align: center; border: 0;}
input[type="number"]:focus { outline-width: 0; }

/* RESPONSIVE */
@media screen and (max-width: 720px) {
    #basket .row { padding-top: 0; }
    .basket-items { width: 90%; }
    .quantity { width: 100%; }
}