
<div class="container-fluid">
    <header>
        <div id="nav" class="top-nav box-center">
            <div class="w90">
                <a class="top-logo" href="/"><img src="assets/img/logo.svg"></a>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <div class="mask"></div>
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu right">
                    <li><a href="">Products</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="cart"><img src="assets/img/basket.svg"></a></li>
                </ul>
            </div>
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer>
        <div class="row">
            <div class="col-1 box-center"><img src="assets/img/logo.svg"></div>
            <div class="col-2">
                <ul class="bottom-nav">
                    <li>Products</li>
                    <li>News</li>
                    <li>Contact</li>
                    <li>Your Cart</li>
                </ul>
            </div>
            <div class="col-9 box-bottom right">
                <div>
                    <ul class="social-networks break">
                        <li><img src="assets/img/google-plus-icon.svg"></li>
                        <li><img src="assets/img/facebook-icon.svg"></li>
                        <li><img src="assets/img/instagram-icon.svg"></li>
                        <li><img src="assets/img/twitter-icon.svg"></li>
                    </ul>
                    <a href="#" class="privacy break">Privacy Policy</a>
                    <span>© 2022 Lagom. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </footer>
</div>