@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;600&display=swap');

/* GENERAL */
* {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: lighter;
  color: #333447;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-blue {
  background-color: #448AFF;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 2px 8px #979797;
}

/* NAV MENU */
.top-nav {
  width: 100%;
  height: 112px;
  background-color: white;
  box-shadow: 0 2px 8px #979797;
  position: fixed;
  z-index: 2;
}

.mask { background-color:rgba(0,0,0,0.7); width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index:1; display: none;}

.top-logo {
  float: left;
  margin-right: 20px;
}

.top-nav ul li { display: inline; }
.top-nav ul li a {
  padding: 15px;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: black;
  font-weight: 400;
  text-decoration: none;
}
.top-nav ul li a:hover { background-color: #CCC; }

.menu-icon {
  cursor: pointer;
  position: absolute;
  top:10px;
  right: 10px;
  user-select: none;
  display: none;
  padding: 20px;
  background-color: white;
  z-index: 3;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.menu-icon .navicon:before { top: 5px; }
.menu-icon .navicon:after { top: -5px; }

.menu-btn { display: none; }
.menu-btn:checked ~ .mask { display: block; }
.menu-btn:checked ~ .menu { display: block; }
.menu-btn:checked ~ .menu-icon .navicon { background: transparent; }
.menu-btn:checked ~ .menu-icon .navicon:before { transform: rotate(-45deg); }
.menu-btn:checked ~ .menu-icon .navicon:after { transform: rotate(45deg); }

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after { top: 0; }

/* FOOTER */
footer { padding: 65px 0 65px 0; font-size: 0.75rem; } /* border-top: 1px solid rgb(235, 235, 235); */
footer .box-center, footer .box-bottom {
  height: 150px;
}

.bottom-nav li {
  margin-bottom: 28px;
  text-transform: uppercase;
  font-weight: 400;
}

.social-networks {
  list-style: none;
  padding: 0;
  display: inline;
}

.social-networks li {
  display: inline;
  filter: invert(69%) sepia(0%) saturate(554%) hue-rotate(196deg) brightness(88%) contrast(97%);
}

.social-networks li:not(:last-child) {
  margin-right: 30px;
}

.privacy { margin-top: 30px; }

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  footer { padding: 0; }
  footer .box-center { height: 60px; justify-content: left;}
  footer .box-bottom { height: 100px; justify-content: left; text-align: left;}

  /* nav menu */
  .menu-icon { display: block; }
  .top-nav { height: 60px; }
  .top-nav .menu { 
    position: absolute; 
    z-index: 3;
    display: none;
    top: 50px;
    right: 10px;
    background-color: white;
  }
  .top-nav ul li {
    display: block;
    padding: 15px;
    text-align: left;
  }
}
@media screen and (min-width: 720px) {
  .top-nav .mask { display: none; top:10000px; }
}



/* UTILS */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* SCALES */
.w100 { width: 100%; }
.w60 { width: 60%; }
.w80 { width: 80%; }
.w90 { width: 90%; }


/* TYPOGRAPHY */
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.375rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }
p { font-size: 1.125rem; font-weight: 200; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }
.fw-600 { font-weight: 600; }  

/* ALIGNMENTS */
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; margin-left: auto; margin-right: auto; }
.justify { text-align: justify; }
.jc-left { justify-content: left !important; }
.flex { display: flex;  }
.box-center { display: flex; align-items: center; justify-content: center; }
.box-bottom { display: flex; align-items:flex-end; justify-content: flex-end; }


/* ==== GRID SYSTEM ==== */
.container-fluid { width: 100%; margin-left: auto; margin-right: auto; }
.row { position: relative; width: 100%; }
.row [class^="col"] { float: left; margin: 0.5rem 2%; min-height: 0.125rem; }
.row::after { content: ""; display: table; clear: both; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {  width: 96%; }
.col-1-sm { width: 4.33%; }
.col-2-sm { width: 12.66%; }
.col-3-sm { width: 21%; }
.col-4-sm { width: 29.33%; }
.col-5-sm { width: 37.66%; }
.col-6-sm { width: 46%; }
.col-7-sm { width: 54.33%; }
.col-8-sm { width: 62.66%; }
.col-9-sm { width: 71%; }
.col-10-sm { width: 79.33%; }
.col-11-sm { width: 87.66%; }
.col-12-sm { width: 96%; }
.hidden-sm { display: none; }
.break { 	display: block; clear: both; }

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container { width: 80%; }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 { width: 4.33%; }
  .col-2 { width: 12.66%; }
  .col-3 { width: 21%; }
  .col-4 { width: 29.33%; }
  .col-5 { width: 37.66%; }
  .col-6 { width: 46%; }
  .col-7 { width: 54.33%; }
  .col-8 { width: 62.66%; }
  .col-9 { width: 71%; }
  .col-10 { width: 79.33%; }
  .col-11 { width: 87.66%; }
  .col-12 { width: 96%; }
  .hidden-sm { display: block; }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* INPUTS */
/* NUMBER */
input[type="number"] {
  border: 0;
  margin: 0;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* RESPONSIVE TABLE */
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-size: 0.875rem;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table thead { border-bottom: 1px solid #ddd; }

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  font-weight: 600;
}

.responsive-label {float: left; font-weight: 600; display: none;}
.responsive-td { display: none; }


@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    padding-bottom: 30px;
  }
  
  table td {
    display: block;
    font-size: 1em;
    clear: both;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  .responsive-label {display: block; float: left;}
  .responsive-content {float: right; text-align: left;}
  .responsive-td { display: block; }
  .normal-td { display: none; }
  .no-border { border: 0; padding-bottom: 10px;}
  .font-light { font-weight: 200; }
}
