.banner {
  background: url("../../assets/img/bg-head.png");
  height: 100vh;
  padding-top: 112px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/* HEADER FEATURE */
.banner .box-center {
  height: 100vh;
}

.banner p { padding-left: 10%; }
.banner p, .banner span { color: white; }
.banner span { font-size: 2.813rem; }


/* PRODUCT HOME */
#products { background-color: #FAFAFA; }
#products h2, #news h2 { padding-bottom: 20px; }
#products p, #news p { padding-bottom: 40px; }
#products .box-center { height: 55vh; }

/* NEWS */
#news .img {
  height: 90vh;
  margin-left: 0;
  background-attachment: fixed;
  background-image: url("../../assets/img/news-art-and-science.png"); 
  background-size: contain; 
  background-repeat: no-repeat;
  /* background-position: center; */
}
#news .box-center {height: 90vh;}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  .banner { height: 40vh; background-size: 1000px; background-position: top center;}
  .banner .box-center { height: 30vh; }
  .flex {  flex-direction: column-reverse;  }
  #news .img { 
    width: 100%; 
    height: 40vh;
    background-attachment:scroll;
    background-size: cover; 
    background-position: center;
  }
  #news .box-center { height: 60vh; }
}

@media screen and (max-width: 280px) {
  #news .box-center { height: 80vh; }
}