<section id="banner" class="row banner">
    <div class="col-12 box-center jc-left">
            <p>APPS unveils new studio<br><span>Lagom</span></p>
    </div>
</section>

<section id="products" >
    <div class="row">
        <div class="col-12 box-center center">
            <div>
                <h2>Innovation and experience design agency. </h2>
                <p>Apps is an innovation and experience design agency.&nbsp;<br>We exist to create a better future with you.</p>
                <a class="btn-blue">PRODUCTS</a>
            </div>
        </div>
    </div>
</section>

<section id="news">
    <div class="row flex">
        <div class="col-6 img"></div>
        <div class="col-6 box-center">
            <div class="w80">
                <h2>The imaginative application of art and science.</h2>
                <p>We architect, design and deliver iconic experiences, services and products that improve people’s lives. </p>
                <a class="btn-blue">READ LATEST</a>
            </div>
        </div>
    </div>
</section>